<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <title>Página de Fornecedores</title>
  <!-- Link CSS e JS-->
  <link rel="stylesheet" href="/static/fornecedores/css/lista_fornecedores.css">
  <script src="/static/fornecedores/js/lista_fornecedores.js"></script>

</head>

<body>

  <!-- Formulário para enviar o ID do fornecedor selecionado -->
  <form id="fornecedor-form" action="{% url 'lista_fornecedores' %}" method="POST">{% csrf_token %}
    <input type="hidden" id="fornecedor-id" name="fornecedor_id">
  </form>

  <div class="container">
    <h4>Início &gt; Fornecedores</h4>
    <h2>Página de Fornecedores</h2>
    
    <div>
      <button class="button" onclick="RedirecionarPag('../../home/home')">Voltar</button>
    </div>

    <div> <!-- Barra de pesquisa e filtro -->
      <input class="search-box" type="text" id="search-input" placeholder="Pesquisar fornecedor..." onkeyup="Pesquisarfornecedor()">

      <select class="filter-box" id="filter-select" onchange="Filtrarfornecedores()">
        <option value="todos">Todos</option>
        <option value="ativo">Ativo</option>
        <option value="inativo">Inativo</option>
      </select>
    </div>

    <div class="treeview-container">
      <table class="spaced-table">
        <thead> <!-- Cabeçalho da tabela -->
          <tr>
            <th>ID</th>
            <th>Razao Social</th>
            <th>Nome Fantasia</th>
            <th>Telefone</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody> <!-- Dados da tabela -->
          {% for row in data %}
          <tr class="treeview-item" data-tipo="{{ row.tipo }}" onclick="highlightRow(event)" ondblclick="AbrirPaginafornecedor(event)">
            <td>{{ row.id }}</td>
            <td>{{ row.TIPO }}</td>
            <td>{{ row.ESTADO_CONTA }}</td>
            <td>{{ row.NOME_RAZAO }}</td>
            <td>{{ row.APELIDO_FANTASIA }}</td>
            <td>{{ row.TELEFONE1 }}</td>
            <td>{{ row.EMAIL }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div>
      <a class="button" href="">fornecedores em atraso</a>
      <a class="button" href="/fornecedores/cadastro_fornecedor">Cadastrar novo fornecedor</a>
    </div>
  </div>
</body>

</html>
